name: Build and Deployment

on:
  push:
    branches:
      - "main"

jobs:
  build_images:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: app/.
          push: true
          tags: raicamposs/kubernetes-projeto2-dio:1.0

  deploy_gcp:
    runs-on: ubuntu-latest
    needs: [build_images]
    steps:
      - name: Auth
        run: echo "${{ secrets.SSH_KEY }}" | tr -d '\r' > key.pem

      - name: Auth
        run: chmod 400 key.pem

      - name: Run deployment script
        run: ssh -o StrictHostKeyChecking=no -i key.pem gcp@${{ secrets.SSH_SERVER }} "sudo rm -Rf ./kubernetes-projeto2-dio/ && sudo git clone https://github.com/Raicamposs/dio-k8s-projeto2.git && cd kubernetes-projeto2-dio && sudo chmod +x ./script.sh && ./script.sh"
